h1 {
	text-align: center;
	background-color: #e4ebe5;
}

#centre {
	text-align: center;
}

a:link {
  text-decoration: underline;
  color: blue;
}

a:hover {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

.pannel {
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
  padding: 50px;
  display: none;
}